#form-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
    overflow: auto;

}

.headings {
    display: flex;
    gap: 5px;
    flex-direction: column;
}

h1, h2 {
    text-align: left;
    font-family: "Orbitron", sans-serif;
    font-weight: 700;
    margin: 0;
}

h1 {
    font-size: xxx-large;
}

h2 {
    font-size: xx-large;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

span {
    font-weight: 700;
    color: #174384;
}

span:hover {
    cursor: pointer;
}

#image-upload {
    display: flex;
    flex-direction: row;
    gap: 40px;
    vertical-align: center;
    justify-content: center;
    horiz-align: center;
    align-items: center;
}

#image-upload img {
    border: 5px solid #092147;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.error-message {
    font-size: 12px;
    color: #DD3636;
}
