.real-estate-container {
    border-radius: 5px;
    padding: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    box-shadow: 3px 3px 6px black;
}

.device-card {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #739FDF;
    width: 20%;
    min-width: 300px;
    border-radius: 5px;
    padding: 10px;
    flex-grow: 1;
}

.device-card:hover {
    cursor: pointer;
    box-shadow: 1px 1px 6px black;
}

.device-img {
    border-radius: 5px;
    width: 100%;
    height: 250px;
    object-fit: cover;
}