#device-info, #mode-add-container, #vehicle-add-container, #device-info-solar-panel-system, #device-info-solar-panel,
#vehicle-charger-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

#device-info > *, #mode-add-container > * {
    width: 32%;
}

#device-info-solar-panel-system, #device-info-solar-panel, #vehicle-charger-info-container {
    gap: 10px;
}

#device-info-solar-panel-system > *, #device-info-solar-panel > *, #vehicle-charger-info-container > * {
    width: 50%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#temperature-container {
    display: flex;
    gap: 10px;
}

#temperature-container > * {
    width: 50%;
}

#checkbox-container {
    display: flex;
    justify-content: space-between;
}

h3 {
    font-size: x-large;
    font-family: 'Orbitron', sans-serif;
    margin: 0;
}

#added-modes-container, #added-vehicles-container, #added-panels-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.added-mode-item, .added-vehicle-item, .added-panel-item {
    max-width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #092147;
    border-radius: 6px;
    gap: 10px;
    padding: 10px;
}

.added-mode-item-info, .added-vehicle-item-info, .added-panel-item-info {
    display: flex;
    flex-direction: column;
}

#add-solar-panel-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #092147;
    border-radius: 6px;
    padding: 20px;
}