#add-device-container {
    margin-top: 20px;
    width: 100%;
    /*height: 100vh;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: calc(100vh - 120px);
    padding-bottom: 20px;
    overflow: auto;
}

.selected-component {
    width: 60vw;
}