<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700;900&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700;900&display=swap');
        .main-template-container{
            display: block;
            padding: 20px;
            border: 2px solid #092147;
            width: 400px;
            border-radius: 5px;
        }
        .main-template-container h1{
            font-family: "Orbitron", sans-serif;
            color: #092147;
            font-weight: 700;
        }
        .main-template-container p{
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            font-size: 20px;
        }
    </style>
</head>
<body>
    <div class="main-template-container">
        <h1>[[${subject}]]!</h1>
        <p th:utext="${body}"></p>
        <div th:if="${showButton}">
            <a th:href="${url}"><button style="color: azure; background-color: #092147; width: 150px;
                        height: 50px; font-size: large; cursor: pointer;">
                [[${btnText}]]
            </button></a>
        </div>
    </div>
</body>
</html>