#home-page-heading-container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
}

#home-page-main-container{
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    overflow: auto;
}

#home-page-real-estate-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

#home-page-real-estate-container p {
    margin: 0;
}

